* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
}

/* DEBUG:  */
section,
aside,
div {
  border: 1px solid pink;
}

.principale img {
  max-width: 100px;
  height: auto;
}
/* fine debug  */


/*                                sezione in alto upselling */

#upselling {
width: calc(100% - 230px);
height: 70px;
position: fixed;
top: 0;
left: 230px;
display: flex;
justify-content: flex-end;
align-items: center;
/* background-color: #080B12; */
background-color: rgba(20, 25, 34, 0.5);
}

#upselling a {
  text-transform: uppercase;
  text-decoration: none;
  background-color: rgba(20, 25, 34, 0.5);
  border: 1px solid white;
  color: white;
  padding: 10px 15px;
  border-radius: 20px;
}

/*                                   Sezione main */

main {
  display: flex;
}

/*                                   aside */
aside {
  width: 230px;
  height: calc(100vh - 90px);
  background-color: #000000;
  /* proprietà flex */
  display: flex;
  flex-direction: column;
}

aside .logo {
  height: 70px;
  display: flex;
  margin-left: 15px;
  align-items: center;
}

aside .logo img {
  width: 75%;
  height: auto;
}

/* aside generali */
.search_home,
.search_cerca,
.search_libreria {
  display: flex;
  align-items: center;
}

/* aside search */
.search_home,
.search_cerca,
.search_libreria {
  border-left: 3px solid black;
}

aside .search img {
  max-width: 30px;
  margin: 0 10px 0 10px;
}

 .active_aside {
  border-color: #ADFF2F;
}

/* aside libreria */
aside .libreria {
  flex-grow: 1;
  overflow-x: auto;
  margin: 0 10px 0 15px;
}

aside .libreria ul {
  list-style: none;
}

aside .libreria ul li{
  padding: 10px 0;
}

.aggiungi_alla_tua_libreria {
  display: flex;
  align-items: center;
}

.button_add {
  height: 40px;
  width: 40px;
  background-color: #A3A3A3;
  color: black;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  line-height: 40px;
  display: inline-block;
  /* margin: 0 10px 0 15px; */
}


/* aside installa_app  */
aside .installa_app {
  min-height: 80px;
  overflow: hidden;
  margin: 0 10px 0 15px;
}

.autore_up {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.installa_app_img {
  max-width: 15px;
  margin-right: 5px;
}

.autore {
  display: flex;
  align-items: center;
  border-top: 1px solid white;
  padding: 10px 0;
}

.autore .profile_img {
 width: 30px;
 height: 30px;
 border-radius: 50%;
 background-color: #808080;
 display: inline-block;
 background-image: url(../img/profile.svg);
 background-position: center;
 background-size: contain;
 margin-right: 5px;
}


/*                             principale */
.principale {
  width: calc(100% - 230px);
  height: calc(100vh - 90px);
  background-color: #141922;
}

/*                             sezione player inferiore */

#player_nav {
  height: 90px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #282828;
  display: flex;
}

.in_riproduzione {
  display: flex;
}

.in_riproduzione_cover {
  height: 90px;
  width: 90px;
  padding: 15px;
}

.in_riproduzione_cover img {
  max-width: 100%;
}

.in_riproduzione_title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.preferiti {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.player {
  flex-grow: 1;
}

.player_up {
  height: 50%;
}

.player_down {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avanzamento_attuale {
  background-color: #C1C1C1;
  height: 5px;
  width: 10%;
  margin-left: 15px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.avanzamento_totale {
  background-color: #5A5A5A;
  height: 5px;
  width: 25%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}


.controlli {
  display: flex;
  align-items: center;
}

.volume_attuale {
  background-color: #C1C1C1;
  height: 5px;
  width: 35px;
  margin-left: 15px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.volume_totale {
  background-color: #5A5A5A;
  height: 5px;
  width: 130px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* comportamento aside autore */
@media all and (max-height: 500px) {
  aside .installa_app {
    display: none;
  }
}
